/* ultilities designing */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none;
}

html{
    font-size: 72%;
    color: var(--txt-color);
    font-family: 'Poppins', sans-serif;
}

a{
    font-size: 2vw;
}

.large-font{
    font-size: 52px;
    font-weight: bold;
}

.medium-font{
    font-size: 42px;
    font-weight: 700;    
}

.small-header-font{
    font-size: 32px;
    font-weight: 600;
}

.para-font{
    font-size: 24px;
}


:root{
    --bg-color: #081B29;
    --second-bg-color: #112029;
    --faint-color: #555555;
    --txt-color: #fffef7;
    --tr-color: #943559;
    --sc-color: rgb(255, 242, 58);
    --large-font: 52px;
    --medium-font: 42px;
    --small-header-font: 32px;
    --para-font: 24px;
}

body{
    background-color: var(--bg-color);
}

span{
    color: var(--sc-color);
}

button, .button{
    width: 15vw;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--sc-color);
    margin: 20px 0;
    box-shadow: 0 2px 10px var(--sc-color);
    cursor: pointer;
    transition: .4s ease-in-out;
    font-size: var(--para-font);
}

button{
    animation: scaleBtn 1s ease-in-out infinite alternate;
}
@keyframes scaleBtn{
    0%{
        transform: scale(1.04);
        box-shadow: none;
    }
    100%{
        transform: scale(1);
    }
}


.txt-btn{
    width: 15vw;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    cursor: pointer;
    border: 1px solid var(--sc-color);
    transition: .4s ease-in-out;
    color: var(--sc-color);
    font-size: var(--para-font);
}

button:hover, .button:hover{
    box-shadow: none;
    animation-play-state: paused;
}

section{
    width: 100%;
}

/* end of ultilities design */


/* header design */

header{
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--second-bg-color);
    z-index: 100;
    padding: 10px 5px;
}

header img{
    width: 70px;
    height: 70px;
}

nav ul{
    display: inline-flex;
    list-style-type: none;
}

nav ul li{
    margin-right: 20px;
}

nav ul li a {
    font-size: var(--small-header-font);
    font-weight: bold;
    transition: 600ms ease;
    color: var(--sc-color);
}

nav ul li a:hover{
    color: var(--txt-color);
    border-bottom: 1px solid var(--txt-color);;
}

header i{
    font-size: var(--medium-font);
    cursor: pointer;
    visibility: hidden;
 
}

/* 
Design of the intro section */

.intro{
    min-height: 100vh;
    display: flex;
    padding: 10rem 10% 2rem;
    gap: 20px;
}

.intro img{
    width: 35vw;
    align-self:center;
    justify-self: center;
    border: 4px solid var(--tr-color);
    border-radius: 50%;
    animation: scaleImg 2s ease-in-out infinite alternate;
}

@keyframes scaleImg{
    0%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}


.intro-info{
    align-self: flex-end;
    width: 35vw;
    height: 75vh;
}

.social-container{
 display: flex;
 gap: 20px;
 align-content: center;
 flex-wrap: wrap;
}


.intro-info h1{
    color: var(--tr-color);
    line-height: 40px;
}

.social a i{
    color: var(--tr-color);
    font-size: var(--medium-font);
}



/* designing of the about section */

.abount_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    gap: 20px;
}

/* stars animation design */
.about{
    position: relative;
    min-height: 100vh;
    padding: 100px;
}
 .star{
    position: absolute;
}

.star:hover{
    animation-play-state: paused;
    cursor: pointer;
}


 .star1{
    top: 10%;
    left: 10%;
    width: 40px;
    height: 40px;
    animation: moveStar1 10s ease-in-out infinite alternate;
}
@keyframes moveStar1{
    0%{
        transform: translate3d(30%);
    }
    50%{
        transform: translatex(-50%);
    }
    100%{
        transform: translatey(100%);
    }
}

.star2{
    bottom: 10%;
    left: 10%;
    height: 40px;
    width: 40px;
    animation: moveStar2 15s ease-in-out infinite alternate;
}
@keyframes moveStar2{
    0%{
        transform: translate3d(50%);
    }
    50%{
        transform: translatex(-150%);
    }
    100%{
        transform: translatey(-100%);
    }
}

.star3{
    bottom: 30%;
    left: 30%;
    width: 40px;
    height: 40px;
    animation: moveStar3 15s ease-in-out infinite alternate;
}
@keyframes moveStar3{
    0%{
        transform: translate3d(-50%);
    }
    50%{
        transform: translatex(-50%);
    }
    100%{
        transform: translatey(100%);
    }
}
 .star4{
    right: 10%;
    top: 10%;
    width: 20px;
    height: 20px;
    animation: moveStar4 15s ease-in-out infinite alternate;
}
@keyframes moveStar4{
    0%{
        transform: translate3d(100%);
    }
    50%{
        transform: translatex(50%);
    }
    100%{
        transform: translatey(-100%);
    }
}

 .star5{
    left: 40%;
    top: 20%;
    width: 40px;
    height: 40px;
    animation: moveStar5 15s ease-in-out infinite alternate;
}
@keyframes moveStar5{
    0%{
        transform: translate3d(-10%);
    }
    50%{
        transform: translatex(100%);
    }
    100%{
        transform: translatey(50%);
    }
}
 .star6{
    bottom: 30%;
    right: 5%;
    width: 30px;
    height: 30px;
    animation: moveStar6 15s ease-in-out infinite alternate;
}

@keyframes moveStar6{
    0%{
        transform: translate3d(50%);
    }
    50%{
        transform: translatex(-100%);
    }
    100%{
        transform: translatey(200%);
    }
}

/* about video */

.about video{
    width: 35vw;
    height: 75vh;
}

.about_info{
    text-align: center;
}

.about_info h2{
    color: var(--tr-color);
}
.about_info p{
    margin-bottom: 20px;
}


/* design of project section */
.projects {
    min-height: 100vh;
    padding: 40px 100px 70px 100px;
    background-color: var(--second-bg-color);
    position: relative;
}



.projects button{
    position: absolute;
    bottom: 0;
    left: 40%;
    margin: 20px;
}

.projects h1{
    text-align: center;
    padding-bottom: 20px;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.project-contents{
    min-width: 20vw;
    height: 100%;
    display: flex;
    position: relative;
   overflow: hidden;
   border-radius: 30px;
}

.project-info{
    position: absolute;
    top: 0;
    left: 0;
   text-align: center;
   background-image: linear-gradient(rgb(0, 0, 0, .8), var(--tr-color)) ;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transform: translateX(100%);
   transition: .6s ease-in-out;
   line-height: 20px;
}

.project-contents:hover .project-info{
    transform: translateX(0);
}

.project-contents img{
    width: 100%;
    height: 100%;
    transition: .6s ease-in-out;
}

.project-contents:hover img{
    transform: scale(1.05);
}

.project-info h3{
    font-size: 3vw;
    line-height: 32px;
}
.project-info p{
    font-size: 1.5vw;
}

/* skills design section */

.skills{
    padding: 50px;
}

.skills h1{
    margin-bottom: 20px;
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.skills-content{
    border: 1px solid var(--tr-color);
    border-radius: 30px 0;
    padding: 20px;
    overflow: hidden;
    transition: 1s ease-in-out;
}

.skills-content h3{
    font-size: 2.5vw;
}

.skills-content:nth-child(1):hover, .skills-content:nth-child(2):hover, .skills-content:nth-child(3):hover{
    animation-play-state: paused;
    cursor: pointer;
}




.skill-info{
    width: 25vw;
    padding: 10px 0;
    flex: 1 1;
    overflow: hidden;
}

.skills-content:nth-child(1){
    animation: scaleSkill1 1s ease-in-out infinite alternate;
}

@keyframes  scaleSkill1 {
    0%{
        transform: scale(1.02);
        border-radius: 0 30px;
        overflow: hidden;
    }
    100%{
        transform: scale(1);
    }
}
.skills-content:nth-child(2){
    animation: scaleSkill2 1s ease-in-out infinite alternate;
    animation-delay: 1s;
}

@keyframes  scaleSkill2 {
    0%{
        transform: scale(1.02);
        border-radius: 0 30px;
        overflow: hidden;
    }
    100%{
        transform: scale(1);
    }
}
.skills-content:nth-child(3){
    animation: scaleSkill2 1s ease-in-out infinite alternate;
}

@keyframes  scaleSkill3 {
    0%{
        transform: scale(1.02);
        border-radius: 0 30px;
        overflow: hidden;
    }
    100%{
        transform: scale(1);
    }
}

.skill-info img{
    width: 100%;
}

.skill-info h4{
    color: var(--txt-color);
    font-family: 'Tangerine', serif;
}

.skills-container h3{
    color: var(--tr-color);
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: var(--second-bg-color);
    font-family: 'Tangerine', serif;
}